html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: #D3D3D3 !important;
    margin: 0 0 100px;
}

footer {
    position: absolute;
    padding: 15px auto 15px auto;
    text-align: center;
    color: #fff;
    background-color: #000;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
}

/* Styling cards=> adding hover effect => centralising them*/
#shor:hover,
#yantrix:hover,
#tpc:hover,
#ncc:hover,
#nss:hover {
    z-index: 2;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.jumbotron:hover {
    z-index: 2;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}
/*ending styling cards*/

/*sticky-nav*/
.pu_navbar{
    position: sticky;
    top: 1px;
}

/*fixing committies and enterpreneurs page*/
/********************************************/
.cards .jumbotron .clearfix img {
    height: 28rem;
    width: 30rem;
    border: 1px solid transparent;
    padding: 0px 30px 30px 30px;
}
.cards .jumbotron  {
    font-size: 130%;
    background: linear-gradient(to right, #000 0%, #fff 90%);
    /* border: 10px solid #000; */
}
.clearfix {
    padding: 15px 30px 30px 30px;
}

/*********************************************/
.cards .shor .jumbotron {
    background: linear-gradient(to right, #D1E1EF 0%, #EED8A7 100%);
    border: none;
}

.cards .yantrix .jumbotron {
    background: linear-gradient(to right, #6EC0FF 0%, #fff 100%);
    border: none;
}

.cards .tpc .jumbotron {
    background: linear-gradient(to right, #B6B6B6 0%, #fff 100%);
    border: none;
}

.cards .dcult .jumbotron {
    background: linear-gradient(to right, #EFC305 0%, #fff 100%);
    border: none;
}

.cards .literati .jumbotron {
    background: linear-gradient(to right,#fff 50%, #B9A73A 100%);
    border: none;
}

.cards .ncc .jumbotron {
    background: linear-gradient(to right, #BBB47F 0%, #fff 100%);
    border: none;
}

.cards .nss .jumbotron {
    background: linear-gradient(to right, #fff 50%, #22A7F2 100%);
    border: none;
}

