html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: #D3D3D3 !important;
    margin: 0 0 100px;
}

footer {
    position: absolute;
    padding: 15px auto 15px auto;
    text-align: center;
    color: #fff;
    background-color: #000;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
}

/* Styling cards=> adding hover effect => centralising them*/
#shor:hover,
#yantrix:hover,
#tpc:hover,
#ncc:hover,
#nss:hover {
    z-index: 2;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.jumbotron:hover {
    z-index: 2;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}
/*ending styling cards*/

/*sticky-nav*/
.pu_navbar{
    position: sticky;
    top: 1px;
}

/* .faculty {
    background-color: lightblue;
}

.students {
    background-color: lightgoldenrodyellow;
}

.faculty .jumbotron,
.students .jumbotron{
    max-width: 500px;
} */

